

.mainWrapper{
  position: relative;
  background: url("/bgSlice.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.imgWrapper{
  z-index: 4;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.bgColor{
  background-color: rgba(30, 30, 30, 0.85);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 3;
}

.rankingItemWrapper{
  position:absolute;
  z-index: 1;  
  height: 100%;
margin-bottom: 3rem;
}

@for $i from 1 through 10 {
  .rankingItemWrapper:nth-child(#{$i}){
    top: #{$i * 75px};
    border: 1px solid;
  }
}


